/*Display

Nos sirve para controlar como se muestra un elemento dentro de nuestro docuemento.


Esta propiedad es distinta de poston porque display se encarga de definir como se muestran u ocultan elementos (NO SE ELIMINA EL CODIGO)

    -none
    -inline
    -block
    -inline-block



*/

/* Estilos generales*/
body   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para mis articulos*/

#articuloUno {
    margin: 20px;
    padding: 20px;
    background-color: gainsboro;
    border: 1px solid black;
}

#articuloDos {
    margin: 20px;
    padding: 20px;
    background-color: gainsboro;
    border: 1px solid black;
    display: none;
}

#articuloTres {
    margin: 20px;
    padding: 20px;
    background-color: gainsboro;
    border: 1px solid black;
}
#articuloUno p {
    display: block;
}
/* 
none

Hace que el elemento se oculte completamente y que no ocupe espacio en la pagina (no se elelimina), y este valor se utiliza comunmente para ocultar elementos debido a la interaccion con la ventada del navegador (un menu que se oculte cuando la ventana se haga pequeña)



inline

Es el valor por defecto, hace que el elemento se muestre en linea con el texto que lo rodea.


*/

div ul li {
    display: inline;
    margin: 30px;
}